
.gallery img:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.gallery {
    /* Prevent vertical gaps */
    line-height: 0;
    padding: 15px;
    clear:both;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
}

.gallery img {
    /* Just in case there are inline attributes*/
    width: auto !important;
    height: auto !important;
    padding: 3px;
    max-width: 250px;
}
